[submodule "slack-monitor"]
	path = slack-monitor
	url = https://github.com/nlink-jp/slack-monitor.git
[submodule "llm-othello"]
	path = llm-othello
	url = https://github.com/nlink-jp/llm-othello.git
[submodule "m5-vehicle-logger"]
	path = m5-vehicle-logger
	url = https://github.com/nlink-jp/m5-vehicle-logger.git
[submodule "m5-clock"]
	path = m5-clock
	url = https://github.com/nlink-jp/m5-clock.git
[submodule "m5-data-receiver"]
	path = m5-data-receiver
	url = https://github.com/nlink-jp/m5-data-receiver.git
[submodule "lagent"]
	path = lagent
	url = https://github.com/nlink-jp/lagent.git
